 h1{
    text-align: center;
}
body{
    text-align : center;
    background-color: rgb(7, 107, 74);
}

.container{
    height: 550px;
    width: 380px;
    justify-self: center;
} 

#rs_btn{
    height: 30px;
    width:150px;
    margin-top: 7px;
    margin-right: 7px;
    border-style: dashed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(175, 115, 231);
}

#new_game_btn{
    height: 30px;
    width:130px;
    margin-top: 7px;
    border-style: dashed;
    size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;  
    background-color: rgb(175, 115, 231); 
}
#msg{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
}

.msg-container{
    height : 65px;  
    width: 315px;
    margin-top: 10px;
    margin-bottom: 8px;
    border-style: dashed;
}

.hide{
    display : none;
}

.ROW1{
    height: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.ROW2{
    height: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.ROW3{
    height: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    font-size: 50px;
    color: rgb(215, 51, 51);
    background-color: darkmagenta;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border-color: rgb(173, 145, 236);
}